
manifest {
    homePage = 'https://github.com/icgc-argo-structural-variation-cn-wg/icgc-argo-sv-copy-number'
    description = 'SV and CN Working Group Pipeline'
    nextflowVersion = '>=20.10'
}

docker {
    process.container = 'alvinwtng/svaba:v0.3'
    enabled = false
    runOptions = '-u \$(id -u):\$(id -g)'
}

singularity { 
    autoMounts = true
}
