docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}
profiles {
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = "/rds/project/rds-upenYb9rdtk/Work/kve23/external/argo/battenberg_wfpm/test_images/battenberg_v0.3.0.sif"
  }
}